.modal__content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 430px;
  border-radius: 10px;
  background: #fff;

}

@media screen and (max-width: 1023px) {
  .modal__content {
    margin: auto 19px;
    padding: 24px 26px 27px;
    width: calc(100% - 100px*2);
  }
}

@media screen and (max-width: 767px) {
  .modal__content {
    padding: 63px 52px;
    width: calc(100% - 50px*2);
  }
}

@media screen and (max-width: 424px) {
  .modal__content {
    margin-top: 123px;
    padding: 25px 22px;
    width: calc(100% - 35px*2);
  }
}