.photo-grid {
  margin: 46.25px 0 0 0;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  gap: 17px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    margin: 40px 0 0 0;
    gap: 12px;
  }
}

@media screen and (max-width: 424px) {
  .photo-grid {
    margin: 36px 0 0 0;
    gap: 20px;
  }
}