.like-button {
  margin: 0;
  padding: 0;
  position: relative;
  top: 30px;
  right: 20px;
  background: url("../../images/__like-button-disabled.svg") no-repeat center;
  border: none;
  display: inline-block;
  min-width: 22px;
  height: 19px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .like-button {
    margin: 8px 30px 28px 19px;
  }
}

.like-button:active {
  background: url("../../images/__like-button-active.svg") no-repeat center;
  opacity: 1;
}