.profile__info-column {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1023px) {
  .profile__info-column {
    margin: 0 auto 36px;
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .profile__info-column {
    flex-flow: column nowrap;
    align-content: center;
  }
}