.profile {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-flow: column nowrap;
    justify-content: center;
  }
}