.popup__content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 34px 36px 37px;
  position: absolute;
  top: 20%;
  left: 50%;
  max-width: 430px;
  transform: translateX(-50%);
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 1023px) {
  .popup__content {
    padding: 24px 26px 27px;
    width: calc(100% - 100px*2);
  }
}

@media screen and (max-width: 767px) {
  .popup__content {
    padding: 63px 52px;
    width: calc(100% - 50px*2);
  }
}

@media screen and (max-width: 424px) {
  .popup__content {
    padding: 43px 32px;
    width: calc(100% - 35px*2);
  }
}