.header__line {
  margin: 41px 0 36.25px;
  opacity: .7;
  height: 1px;
  background-color: #545454;
  border: none;
}

@media screen and (max-width: 424px) {
  .header__line {
    margin: 31.6px -19px 38.25px;
    width: calc(100% + 19px*2);
  }
}