.profile__info-container {
  margin: 22px 0 25px 0;
  max-width: 336px;
  max-height: 73px;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 767px) {
  .profile__info-container {
    margin: 12px 0 15px 0;
    justify-content: center;
  }
}

@media screen and (max-width: 424px) {
  .profile__info-container {
    justify-content: center;
    max-height: 54px;
  }
}