.profile__info-container {
  margin: 22px 0 25px 0;
  max-width: 336px;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .profile__info-container {
    margin: 12px auto 15px;
    padding-right: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .profile__info-container {
    flex-direction: row;
    justify-content: center;
    max-height: 54px;
  }
}