.profile__name {
  margin: 0 0 16px 0px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 699px) {
  .profile__name {
    font-size: 24px;
  }
}

@media screen and (max-width: 424px) {
  .profile__name {
    margin: 0 0 14px 0px;
    font-size: 27px;
  }
}