.profile__name {
  margin: 0 0 16px 0px;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
}

@media screen and (max-width: 850px) {
  .profile__name {
    margin: 0 0 14px 0px;
    font-size: 27px;
  }
}