.popup__close-button {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -30px;
  right: -20px;
  box-sizing: border-box;
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  color: #fff;
  background: url("../../../images/__add-button.svg") no-repeat center;
  transform: rotate(45deg);
  text-decoration: none;
}

@media screen and (max-width: 424px) {
  .popup__close-button {
    top: -43.67px;
    right: 0px;
  }
}