.profile__subtext {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
}

@media screen and (max-width: 767px) {
  .profile__subtext {
    font-size: 14px;
    text-align: center;
  }
}