.edit-profile-modal__text {
  margin: 0 auto 30px;
  padding-bottom: 13px;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px rgba(0,0,0,.2);
  outline: none;
}

@media screen and (max-width: 424px) {
  .edit-profile-modal__text {
    font-size: 12px;
  }
}