@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/opacity-transition/opacity-transition.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page-container/page-container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info-column/profile__info-column.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__user-data-container/profile__user-data-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-card-button/profile__add-card-button.css);

@import url(../blocks/edit-profile-modal/edit-profile-modal.css);
@import url(../blocks/edit-profile-modal/_opened/edit-profile-modal_opened.css);
@import url(../blocks/edit-profile-modal/__close-button/edit-profile-modal__close-button.css);
@import url(../blocks/edit-profile-modal/__content/edit-profile-modal__content.css);
@import url(../blocks/edit-profile-modal/__title/edit-profile-modal__title.css);
@import url(../blocks/edit-profile-modal/__text/edit-profile-modal__text.css);
@import url(../blocks/edit-profile-modal/__submit-button/edit-profile-modal__submit-button.css);

@import url(../blocks/add-card-modal/add-card-modal.css);
@import url(../blocks/add-card-modal/_opened/add-card-modal_opened.css);
@import url(../blocks/add-card-modal/__close-button/add-card-modal__close-button.css);
@import url(../blocks/add-card-modal/__content/add-card-modal__content.css);
@import url(../blocks/add-card-modal/__title/add-card-modal__title.css);
@import url(../blocks/add-card-modal/__text/add-card-modal__text.css);
@import url(../blocks/add-card-modal/__submit-button/add-card-modal__submit-button.css);

@import url(../blocks/review-card-modal/review-card-modal.css);
@import url(../blocks/review-card-modal/_opened/review-card-modal_opened.css);
@import url(../blocks/review-card-modal/__close-button/review-card-modal__close-button.css);
@import url(../blocks/review-card-modal/__content/review-card-modal__content.css);
@import url(../blocks/review-card-modal/__image/review-card-modal__image.css);
@import url(../blocks/review-card-modal/__title/review-card-modal__title.css);

@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__main/card__main.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);