@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/opacity-transition/opacity-transition.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page-container/page-container.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info-column/profile__info-column.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__user-data-container/profile__user-data-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-card-button/profile__add-card-button.css);

@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/_opened/modal_opened.css);
@import url(../blocks/modal/__close-button/modal__close-button.css);
@import url(../blocks/modal/__content/modal__content.css);
@import url(../blocks/modal/__title/modal__title.css);
@import url(../blocks/modal/__text/modal__text.css);
@import url(../blocks/modal/__submit-button/modal__submit-button.css);

@import url(../blocks/photo-grid/photo-grid.css);

@import url(../blocks/card/card.css);
@import url(../blocks/card/__delete-button/card__delete-button.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__main/card__main.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__like-button/_active/card__like-button_active.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/modal-preview-card/modal-preview-card.css);
@import url(../blocks/modal-preview-card/__content/modal-preview-card__content.css);
@import url(../blocks/modal-preview-card/__image/modal-preview-card__image.css);
@import url(../blocks/modal-preview-card/__title/modal-preview-card__title.css);