.profile__avatar-container {
  margin: 0 0 0 -22.5px;
  max-height: 127.5px;
  max-width: 168.75px;
  width: 100%;
  display: flex;
  align-content: center;
}

@media screen and (max-width: 1023px) {
  .profile__avatar-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 424px) {
  .profile__avatar-container {
    margin: 0 auto;
  }
}