.edit-profile-modal__submit-button {
  margin: 14px auto 0;
  padding: 15px 32px;
  background-color: #000;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 100%;
  min-height: 50px;
  border-radius: 2px;
  cursor: pointer;
}

.edit-profile-modal__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 424px) {
  .edit-profile-modal__submit-button {
    font-size: 14px;
  }
}