.popup__title {
  margin: 0 0 54px 0;
  width: 100%;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  .popup__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 424px) {
  .popup__title {
    font-size: 30px;
  }
}