.photo-grid__like-button {
  margin: 0;
  padding: 0;
  position: relative;
  top: 30px;
  right: 20px;
  background: url("../../../images/__like-button-disabled.svg") no-repeat center;
  border: none;
  display: inline-block;
  min-width: 22px;
  height: 19px;
  cursor: pointer;
  opacity: 1;
}

.photo-grid__like-button:active {
  background: url("../../../images/__like-button-active.svg") no-repeat center;
}