.popup__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  border: 0px;
  outline: none;
}

@media screen and (max-width: 424px) {
  .popup__text {
    font-size: 12px;
  }
}